head {
  color: purple;
}

<!--For future reference.-->
<div class="top">
    TOP
</div>
<div class="left">
    LEFT
</div>
<div class="main">
    MAIN
</div>

    .top {
        position:absolute;
        left:0; right:0;
        height: 92px;
    }
    .left {
        position:absolute;
        left:0; top:92px; bottom: 0;
        width: 178px;
    }
    .main {
        position: absolute;
        left:178px; top:92px; right:0; bottom:0;
    }

.top { background: blue; }
.left { background: red; }
.main { background: yellow; }
